<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="userBean"
          class="com.anel.atmanel.UserReal">
    </bean>

 <bean id="bankBean"
          class="com.anel.atmanel.Bank">
     <constructor-arg ref="userBean"/>
    </bean>
    <bean id="atm" class="com.anel.atmanel.DBConnection" init-method="init"
          destroy-method="destroy">

        <property name="welcomemsg" value="Welcome to Icici bank Atm" />
    </bean>
</beans>
